@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;700&family=Krona+One&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(45deg, #000000,  #630505);
}

#counter {
    background-color: #262626;
    padding: 2rem;
    border-radius: 8px;
}

#counter div {
    display: flex;
    align-items: center;
}


#value {
    font-size: 8rem;
    color: #fff;
    min-width: 14rem;
    text-align: center;
}

button {
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: opacity .3;
}

button:hover {
    opacity: .8;
}

.count-button {
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    background-color: #18181b;
    margin-right: 1rem;
}

.count-button:last-child {
    margin-right: 0rem;
    margin-left: 1rem;
}

#reset {
    width: 100%;
    font-size: 1.8rem;
    background-color: #520202;
    padding: .8rem 0;
    margin-top: 1rem;
}

